    <!---->
    <section id="contact" class="section-padding wow fadeInUp delay-05s">
      <div id="foot" class="container">
        <div class="row">
          <div class="col-md-12 text-center white">
            <h2 class="service-title pad-bt15">Come worship with us</h2>
            <hr class="bottom-line white-bg">
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="loction-info white">
              <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>9802 Highway 78<br>Ladson, SC 29456</p>
              <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@charlestonchurchofchrist.com</p>
              <p><i class="fa fa-clock-o fa-fw pull-left fa-2x"></i>Sunday Service at 10:30 A.M.</p>
              <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>843 900 1448</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBh2A0nzStPcYqlo_RDWMTxf-_u1TJlduo&q=Charleston+Church+of+Christ" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <!---->
    <footer id="footer">
      <div class="container">
        <div class="row text-center">
          <p>&copy; Charleston Church of Christ. All Rights Reserved.</p>

        </div>
      </div>
    </footer>
    <!---->

<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('#cont').on('submit', function(e){
      e.preventDefault();

      $.ajax({
        url: '/contact',
        type: 'POST',
        dataType: 'html',

      })
    })
  }
</script> -->