
        <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#">Charleston Church of Christ</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/#main-header">Home</a></li>
                <li class=""><a href="/#works">Recent Events</a></li>
                <li class=""><a href="/#portfolio">Beliefs</a></li>
                <li class=""><a href="/#poop">Leadership</a></li>
                <li class=""><a href="/#foot">Contact</a></li>
                <li class=""><a href="/blogs">Blog</a></li>
                <li class=""><a href="/family">Family Groups</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>

<script type="text/javascript">
  document.getElementsByClassName("navbar-default")[0].style.backgroundColor = "#404b61";
</script>