    <!--HEADER-->
    <div class="header">
      <div class="bg-color">
        <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Charleston Church of Christ</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/#main-header">Home</a></li>
                <li class=""><a href="#works">Recent Events</a></li>
                <li class=""><a href="#beliefs">Beliefs</a></li>
                <li class=""><a href="/#poop">Leadership</a></li>
                <li class=""><a href="/blogs">Blog</a></li>
                <li class=""><a href="/family">Family Groups</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>
        <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="banner-info text-center wow fadeIn delay-05s">
              <h2 class="bnr-sub-title">welcome home</h2>
              <p class="bnr-para">Here at The Charleston Church of Christ, we make a daily effort to love God, love people, and spread the truth of Christ to a broad world. We all need Jesus, and we are a family of disciples seeking to love God with all our heart, soul, mind, and strength.</p>
              <div class="brn-btn">
                <a href="#" class="btn btn-more">Join Us!</a>
                <a href="#" class="btn btn-more">Learn More</a>
              </div>
              <div class="overlay-detail">
                <a href="#portfolio"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>