    <!--HEADER-->
    <div class="header">
      <div class="bg-color">
        <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Charleston Church of Christ</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="/#main-header">Home</a></li>
                <li class=""><a href="#works">Recent Events</a></li>
                <li class=""><a href="#portfolio">Beliefs</a></li>
                <li class=""><a href="#poop">Leadership</a></li>
                <li class=""><a href="/blogs">Blog</a></li>
                <li class=""><a href="#contact">Family Groups</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>
        <div class="wrapper">
        <div class="container">
          <div class="row">
            <div class="banner-info text-center wow fadeIn delay-05s">
              <h2 class="bnr-sub-title">welcome home</h2>
              <p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>
              <div class="brn-btn">
                <a href="#" class="btn btn-more">Join Us!</a>
                <a href="#" class="btn btn-more">Learn More</a>
              </div>
              <div class="overlay-detail">
                <a href="#portfolio"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>