<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
 
  <title>Welcome Home</title>
</head>
 
<body>
	<div class="loader"></div>
	<div id="myDiv">
		{{>navbar}}
		{{{body}}}
		{{>foot}}
	</div>

</body>
</html>