<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
<br>
<br>
<section class="section-padding wow fadeInUp delay-05s">
  <div class="container">

    <form class="form-signin" action="/admin/login" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="username" class="sr-only">Username</label>
      <input name="username" type="text" id="username" class="form-control" placeholder="Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="">Sign in</button>
    </form>

  </div>
</section>
<style type="text/css">
  .form-control{
    color: black !important;
  }
</style>